useDynLib(PAWL, mixtureloglikelihood, mixturelogpriordensity,
IsingCounter, IsingUpdate) 
export(createAdaptiveRandomWalkProposal, createMixtureTarget, createTrimodalTarget, adaptiveMH, preexplorationAMH, pawl,
ConvertResults,
PlotComp1vsComp2, PlotLogTheta, PlotFH, PlotAllVar, PlotDensComp1vsComp2, PlotHist,
PlotHistBin, PlotNbins,
getFrequencies)
exportClasses(target, binning, tuningparameters, proposal)
exportMethods(target, show, binning, tuningparameters, proposal)


